.row {
background-color: $secondaryColor;
padding: 40px 0;

.row-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-us {
        font-size: 3rem;
        color: $primaryColor;
        padding: 0px 0px 15px 0px;
    }
      .about-us-text {
        color: $white;
        width: 60%;
        text-align: center;
        padding: 25px 0px 26px 0px;
      }   
}
  
  .column {
    display: flex;
    width: 62%;
    justify-content: center;
    margin: 0 auto;

    
  .card {
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 0 4px 8px 0 $black;
    background-color: $white;
    border-radius: 1.1rem;
    width: 220px;
  
    .img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        } 
        
    .container {
        padding: 0 16px;
        text-align: start;

        .card-name {
            padding: 20px 0;
          }
          
        .card-title {
            padding: 10px 0;
            color: $grey;
          }

          .buttonn {
            margin: 25px 0px;
            border: none;
            padding: 8px;
            color: $white;
            background-color: $secondaryColor;
            cursor: pointer;
            width: 100%;
            border-radius: 1rem;
            
                &:hover {
                background-color: $grey;
                    }  
                }
            }
        }
    }
}  


  @media screen and (max-width: 1000px) {
    
    .row{
        width: 100%;
        text-align: center;

    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .card {
            box-shadow: 0 4px 8px 0 $black;
            background-color: $white;
            border-radius: 1.1rem;
            width: 600px;
        
            .img {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                width: 600px;
                height: 500px;
                object-fit: cover;
                } 
            
            .container {
                width: 100%;
            }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .row{
    .column{
        
    .card{
        width: 100%;
        margin: 10px;
        
            .img{
                width: 100%;
                object-fit: cover;
            }
            .container{
                align-items: center;
                justify-content: center;
                }
            }
        }
    }
}
