.burger{
    display: none;
    cursor: pointer;

    div{
        width: 30px;
        height: 5px;
        background-color: $primaryColor;
        margin: 5%;
        border-radius: 2px;
        transition: all 0.5s ease;
    }
}
