.cardWraper{
    text-align: center;
        background: $secondaryColor;
        padding: 70px 0px 45px 0px;

    .cardTitelpro{
        padding: 1.5rem 0;
              font-size: 3rem;
              color: $white;
              text-shadow: 0 0 5px $black;
    }
        .containerPro{
            flex-flow: row wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 2%;
          
            .cardCon{
                width: 18rem;
                height: auto;
                background-color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2rem 1.5rem;
                border-radius: 1rem;
        
                .cardTitel{
                    margin-top: .7rem;
                }
                .cardImg{
                    width: 100%;
                    margin: 1rem;
                }
                .cardText{
                    margin-bottom: .7rem;
                    text-align: center;
                }
                .cardBtn{
                    padding: .5rem 1rem;
                    background-color: $secondaryColor;
                    border-radius: 1rem;
                    margin: 1rem 0;
                    text-transform: uppercase;
                    color: $primaryColor;
                    font-size: 1.5rem;
                    text-decoration: none;
                    border: none;
                
                    &:hover{
                        transform: translateY(-3px);
                        box-shadow: .5rem .3rem 2rem $hoverBtn;
                    }
                    &:active{
                        transform: translateY(0);
                        box-shadow: none;
                    }
                }
            }
        }
    }



    @media screen and (max-width: 1300px) {
        .containerPro{
            flex-flow: row wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 25px 5%;
        }
    }