.footer-wrapper{
    background:$secondaryColor;
    color: $white;
    height: auto;
    display: flex;
    position: relative;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footercontent{
    height: auto;
    width: 500px;
    display: flex;
    justify-items: center;
}
.footersoci{
    padding: 0px 30px;
    
    .fa-facebook-square{
        color:$facebook;
    }
    .fa-twitter-square{
        color: $twitter;
    }
    .fa-instagram{
        color: $instagram;
    }
    .fa-google-plus-square{
        color: $googleplus;
    }
}
