
.front{
    display: flex;

    .front___valkommen{
    position: absolute;
    left: 14%;
    top: 20%;
    font-size: 38px;
    text-decoration: line-through;
    text-decoration-color: $primaryColor;
    /* display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end; */
}

    .front___img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 600px;
}
#btnTop{
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 60px;
    height: 40px;
    z-index: 2;
    border: 1px solid $secondaryColor;
    background-color: $primaryColor;
    @include borderR;
    cursor: pointer;
}
}